body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #007BFF;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
}

.navbar-nav li {
    margin-right: 1rem;
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #007BFF;
}

img {
    width: 100%;
    height: auto;
}

#loginform{
    max-width: 400px;
    margin: auto;
}

#patientRegistrationForm {
    max-width: 400px;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.appointment-info {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.patient {
    color: #000; 
    font-weight: bold;
}
  
.doctor {
    color: #000;
    font-weight: bold;
}

.date {
    color: #000; 
}

.description {
    color: #000; 
}

.patient-value {
    color: #00548b; 
}

.doctor-value {
    color: #00548b; 
}

.date-value {
    color: #00548b; 
}

.description-value {
    color: #00548b; 
}  

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    justify-content: center;
}

.pagination button {
    background-color: #3498db;
    color: #fff;
    border: 1px solid #3498db;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #2980b9;
}
